[Desktop Entry]
Name=ictoonmo
Comment=Icy Tower Once More
Exec=ictoonmo
Terminal=false
Type=Game
StartupNotify=true
Icon=icon
Categories=games;
Version=20201023
X-OD-Manual=readme.txt
